In [23]:
# importing the libraries
import numpy as np
import peakutils
import syntheticdata
import threegaussians
import lorentzian
from peakutils.plot import plot as pplot
from matplotlib import pyplot as plt
%matplotlib inline
from scipy.optimize import curve_fit
from scipy import interpolate
from astropy.modeling import models, fitting
import pandas as pd

In [10]:
# load some data
def loaddata(data_filename):
    """load matrix data"""
    data = np.genfromtxt(data_filename, delimiter='\t')
    data_nm = data[1:,0]    #wavelength in nm
    data_time = data[0,1:]
    data_z = data[1:, 1:]

    return data_nm, data_time, data_z

In [11]:
# add noise
def add_noise(nm_array, y_array, noise_coefficient):
    # Add noise
    np.random.seed(1800)
    y_noise = noise_coefficient * np.random.normal(size=nm_array.size)
    y_proc = y_array + y_noise
    
    return y_proc

In [17]:
def Earth_Smoothing(nm_array, y_array,noise_coefficient):        
    """
    ============================================
     Plotting derivatives of simple sine function
    ============================================

     A simple example plotting a fit of the sine function
    and the derivatives computed by Earth.
    
    Notes
    -----   
    generates a denoise curve from the TA data
    Parameters
    ----------
        nm_array: wavelength array
        timedelay: time delay array
        noise_coefficient: the noise coefficients that user want to generate
    Returns
    -------
        a smoothing curve from the original noise curve   
    """
    from pyearth import Earth
   # Fit an Earth model
    model = Earth(smooth=True)
    np.random.seed(42)
    ydata = y_array + noise_coefficient*np.random.normal(size=nm_array.size)
    model.fit(nm_array, ydata)

   # Print the model
    #print(model.trace())
    #print(model.summary())

   # Get the predicted values and derivatives
    y_hat = model.predict(nm_array)
    
    return  y_hat

In [5]:
def earth_smooth_matrix(nm_array,data_matrix,noise_coefficient):
    num_array = np.shape(data_matrix)[0]
    
    smooth_matx = pd.DataFrame(np.empty((num_array,1)), columns = ['a'])
    noise_matx = pd.DataFrame(np.empty((num_array,1)), columns = ['a'])
    
    for i in range(num_array):
        data_array = data_matrix[:, i]
        
        # get noise and smooth list
        noise_array = add_noise(nm_array, data_array, noise_coefficient).tolist()
        smooth_array =earth_Smoothing(nm_array,data_array,noise_coefficient).tolist()
        
        # get noise dataframe
        DF = pd.DataFrame(noise_array,columns = [i])
        noise_matx = noise_matx.join(DF)
        
        # get smooth dataframe
        df = pd.DataFrame(smooth_array,columns = [i])
        smooth_matx = smooth_matx.join(df)
        
    # drop the first columns  
    noise_matx = noise_matx.drop(columns='a')
    smooth_matx = smooth_matx.drop(columns='a')
        
    return noise_matx, smooth_matx

In [19]:
def findpeak(data_z_array, threshold, min_dist):
    """find peaks and return indices of the peaks"""    
    peak_indices = peakutils.indexes(data_z_array, thres=threshold, min_dist=min_dist)
    
    return peak_indices

In [7]:
def earth_peak_matrix(nm_array,data_matrix,noise_coefficient,threshold, min_dist):
    num_array = np.shape(data_matrix)[1]
    
    true_peak = []
    smooth_peak = []
    
    for i in range(num_array):
        data_array = data_matrix[:, i]
        noise_array = add_noise(nm_array, data_array, noise_coefficient)
        smooth_array = Earth_Smoothing(nm_array, data_array,noise_coefficient)
        
        indexes=findpeak(data_array, threshold, min_dist).tolist()
        true_peak.append(indexes)
        
        indexes1=findpeak(smooth_array, threshold, min_dist).tolist()
        smooth_peak.append(indexes1)
                
        # transfer to dataframe
        true_df=pd.DataFrame(true_peak)
        smooth_df=pd.DataFrame(smooth_peak)
    
    return true_df, smooth_df

# Get peak info in a dataframe #

* py-earth to smoothening and peakutils to find peaks

In [20]:
matx_filename = '20180418_twogaussian_spectralshfit.txt'
datanm, datatime, dataz_matx = loaddata(matx_filename)
## get the peak position dataframe of true data set
true_df, smooth_df = earth_peak_matrix(datanm, dataz_matx, 0.1, 0, 10)

/Users/demiliu/miniconda3/lib/python3.6/site-packages/sklearn_contrib_py_earth-0.1.0-py3.6-macosx-10.7-x86_64.egg/pyearth/earth.py:802: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  pruning_passer.run()
/Users/demiliu/miniconda3/lib/python3.6/site-packages/sklearn_contrib_py_earth-0.1.0-py3.6-macosx-10.7-x86_64.egg/pyearth/earth.py:1055: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  coef, resid = np.linalg.lstsq(B, weighted_y[:, i])[0:2]

In [21]:
true_df

       0    1
0     50  400
1     50  400
2     50  400
3     50  400
4     51  400
5     51  400
6     51  400
7     51  400
8     52  400
9     52  400
10    52  400
11    52  400
12    52  400
13    53  400
14    53  400
15    53  400
16    53  400
17    53  400
18    53  400
19    54  400
20    54  400
21    54  400
22    54  400
23    55  400
24    55  400
25    55  400
26    55  400
27    55  400
28    55  400
29    56  400
..   ...  ...
470  144  400
471  144  399
472  144  400
473  145  400
474  145  400
475  145  400
476  145  400
477  145  400
478  146  399
479  146  399
480  146  400
481  146  400
482  146  400
483  146  400
484  147  400
485  147  400
486  147  400
487  147  400
488  147  400
489  148  400
490  148  400
491  148  400
492  148  400
493  149  400
494  149  400
495  149  400
496  149  400
497  149  400
498  150  400
499  150  400

[500 rows x 2 columns]

In [22]:
smooth_df

       0      1      2
0     50  402.0    NaN
1     53  393.0    NaN
2     54  393.0    NaN
3     54  394.0    NaN
4     53  198.0  392.0
5     55  389.0    NaN
6     55  389.0    NaN
7     54  389.0    NaN
8     54  389.0    NaN
9     55  213.0  389.0
10    55  211.0  389.0
11    55  212.0  389.0
12    59  210.0  389.0
13    55  212.0  389.0
14    59  389.0    NaN
15    58  389.0    NaN
16    55  388.0    NaN
17    59  389.0    NaN
18    57  390.0    NaN
19    62  390.0    NaN
20    57  386.0    NaN
21    60  386.0    NaN
22    57  385.0    NaN
23    56  171.0  380.0
24    59  389.0    NaN
25    63  389.0    NaN
26    63  389.0    NaN
27    63  389.0    NaN
28    58  389.0    NaN
29    52  391.0    NaN
..   ...    ...    ...
470  158    NaN    NaN
471  159  480.0    NaN
472  158    NaN    NaN
473  124    NaN    NaN
474  159  480.0    NaN
475  159  480.0    NaN
476  159  480.0    NaN
477  159  480.0    NaN
478  132  452.0    NaN
479  132  451.0    NaN
480  132  449.0    NaN
481  132  448.0    NaN
482  132  456.0    NaN
483  132  454.0    NaN
484  132  452.0    NaN
485  132  449.0    NaN
486  131    NaN    NaN
487  133    NaN    NaN
488  133    NaN    NaN
489  133    NaN    NaN
490  133    NaN    NaN
491  133    NaN    NaN
492  133    NaN    NaN
493  133    NaN    NaN
494  133    NaN    NaN
495  133    NaN    NaN
496  133    NaN    NaN
497  133    NaN    NaN
498  133    NaN    NaN
499  134    NaN    NaN

[500 rows x 3 columns]

# Peak width and fwhm Dataframe

In [69]:
def peakchar(data_nm, data_z_array, peak_index):
    """find the peak width, and intensity"""
    num_peaks = len(peak_index)
    
    #array of peak height
    height = [data_z_array[idx] for idx in peak_index]
    
    #array of peak width
    half_height = [ht / 2 for ht in height]

    fwhm_idx_1 = np.empty_like(half_height)
    fwhm_idx_2 = np.empty_like(fwhm_idx_1)
    fwhm_nm_1 = np.empty_like(fwhm_idx_1)
    fwhm_nm_2 = np.empty_like(fwhm_idx_1)
    
    for i in range(num_peaks):
        #find the index and nmof the left side of the fwhm
        if i == 0:
            fwhm_idx_1[i] = find_nearest(data_z_array[0:peak_index[i]], half_height[i])
        else:
            fwhm_idx_1[i] = find_nearest(data_z_array[peak_index[i-1]:peak_index[i]], half_height[i]) + peak_index[i-1]

        fwhm_nm_1[i] = data_nm[int(fwhm_idx_1[i])]
        
        #find the index and nm of the right side of the fwhm   
        fwhm_idx_2[i] = find_nearest(data_z_array[peak_index[i]:], half_height[i]) + peak_index[i]

        fwhm_nm_2[i] = data_nm[int(fwhm_idx_2[i])]
    
    #find fwhm
    fwhm = fwhm_nm_2 - fwhm_nm_1

    return height, fwhm

In [ ]:
def earth_peak_matrix(nm_array,data_matrix,noise_coefficient,threshold, min_dist):
    num_array = np.shape(data_matrix)[1]
    
    true_peak = []
    smooth_peak = []
    
    for i in range(num_array):
        data_array = data_matrix[:, i]
        noise_array = add_noise(nm_array, data_array, noise_coefficient)
        smooth_array = Earth_Smoothing(nm_array, data_array,noise_coefficient)
        
        indexes=findpeak(data_array, threshold, min_dist).tolist()
        true_peak.append(indexes)
        
        indexes1=findpeak(smooth_array, threshold, min_dist)
        smooth_peak.append(indexes1)
                
        # transfer to dataframe
        true_df=pd.DataFrame(true_peak)
        smooth_df=pd.DataFrame(smooth_peak)
    
    return true_df, smooth_df

In [343]:
def peak_matrix(nm_array,data_matrix, threshold, mindist):
    """find peaks in a data matrix"""
    peak_idx_matx = []
    peak_height_matx = []
    peak_fwhm_matx = []
    
    for i in range(num_timeslice):
        data_timeslice = data_matrix[:, i]
        
        peak_idx = findpeak(data_timeslice, threshold, mindist).tolist()
        peak_idx_matx.append(peak_idx)
        
        
        peak_height, peak_fwhm = peakchar(nm_array, data_timeslice, peak_idx)
        
        peak_height_matx.append(peak_height)
        peak_fwhm_matx.append(peak_fwhm)
        
        # transfer to dataframe
        peak_idx_df=pd.DataFrame(peak_idx_matx)
        peak_height_df=pd.DataFrame(peak_height_matx)
        peak_fwhm_df=pd.DataFrame(peak_fwhm_matx)
        
    return peak_idx_df, peak_height_df, peak_fwhm_df

In [344]:
def find_nearest(array,value):
    idx = (np.abs(array-value)).argmin()
    return idx

In [347]:
peak_idx_df, peak_height_df, peak_fwhm_df = peak_matrix(datanm,smooth_matx, 0.00, 50)

In [348]:
peak_height_df

            0         1
0    0.985442  0.302389
1    0.980625  0.299123
2    0.975647  0.296452
3    0.970760  0.293546
4    0.965868  0.290652
5    0.961060  0.287789
6    0.956346  0.284650
7    0.951495  0.282151
8    0.946728  0.279377
9    0.941967  0.276632
10   0.937283  0.273910
11   0.932610  0.271216
12   0.927954  0.268552
13   0.923302  0.265913
14   0.918753  0.262957
15   0.914109  0.260716
16   0.909550  0.258148
17   0.905087  0.255260
18   0.900557  0.252748
19   0.896046  0.250252
20   0.891597  0.247786
21   0.887151  0.245351
22   0.882719  0.242930
23   0.878190  0.240920
24   0.873815  0.238554
25   0.869472  0.236224
26   0.865132  0.233905
27   0.860802  0.231618
28   0.856478  0.229344
29   0.852225  0.227096
..        ...       ...
470  0.104045  0.002628
471  0.103636  0.002612
472  0.103214  0.002586
473  0.102794  0.002566
474  0.102361  0.002547
475  0.101980  0.002526
476  0.101589  0.002503
477  0.101168  0.002489
478  0.100762  0.002467
479  0.100362  0.002449
480  0.099964  0.002431
481  0.099577  0.002415
482  0.099188  0.002396
483  0.098786  0.002379
484  0.098402  0.002366
485  0.098016  0.002343
486  0.097634  0.002329
487  0.097240  0.002298
488  0.096860  0.002291
489  0.096491  0.002275
490  0.096114  0.002260
491  0.095742  0.002239
492  0.095372  0.002225
493  0.094982  0.002201
494  0.094633  0.002188
495  0.094271  0.002175
496  0.093917  0.002159
497  0.093544  0.002143
498  0.093181  0.002126
499  0.092813       NaN

[500 rows x 2 columns]

In [349]:
peak_fwhm_df

         0      1
0    110.0  233.0
1    110.0  233.0
2    111.0  233.0
3    111.0  233.0
4    111.0  233.0
5    111.0  233.0
6    111.0  233.0
7    112.0  233.0
8    112.0  233.0
9    112.0  233.0
10   112.0  356.0
11   112.0  232.0
12   113.0  232.0
13   113.0  232.0
14   113.0  232.0
15   113.0  232.0
16   113.0  232.0
17   114.0  233.0
18   114.0  233.0
19   114.0  233.0
20   114.0  233.0
21   114.0  233.0
22   115.0  233.0
23   115.0  231.0
24   115.0  350.0
25   115.0  231.0
26   116.0  232.0
27   116.0  349.0
28   116.0  232.0
29   116.0  232.0
..     ...    ...
470  112.0  195.0
471  112.0  194.0
472  113.0  194.0
473  113.0  193.0
474  112.0  193.0
475  112.0  193.0
476  112.0  192.0
477  112.0  192.0
478  112.0  191.0
479  112.0  191.0
480  112.0  191.0
481  112.0  190.0
482  111.0  190.0
483  111.0  189.0
484  112.0  189.0
485  112.0  188.0
486  111.0  187.0
487  111.0  187.0
488  111.0  186.0
489  111.0  185.0
490  111.0  185.0
491  111.0  184.0
492  111.0  183.0
493  111.0  182.0
494  110.0  181.0
495  110.0  179.0
496  110.0  178.0
497  111.0  176.0
498  110.0  172.0
499  110.0    NaN

[500 rows x 2 columns]

In [350]:
peak_idx_df

       0      1
0     51  395.0
1     51  395.0
2     51  395.0
3     51  395.0
4     51  395.0
5     52  395.0
6     52  394.0
7     52  394.0
8     52  394.0
9     53  394.0
10    53  394.0
11    53  394.0
12    53  394.0
13    53  394.0
14    54  394.0
15    54  394.0
16    54  394.0
17    54  394.0
18    54  394.0
19    55  394.0
20    55  394.0
21    55  394.0
22    55  393.0
23    55  393.0
24    56  393.0
25    56  393.0
26    56  393.0
27    56  393.0
28    56  393.0
29    57  393.0
..   ...    ...
470  152  384.0
471  152  383.0
472  152  383.0
473  152  383.0
474  153  382.0
475  153  382.0
476  153  381.0
477  153  381.0
478  153  380.0
479  154  379.0
480  154  379.0
481  154  378.0
482  154  377.0
483  154  377.0
484  155  376.0
485  155  375.0
486  155  374.0
487  155  374.0
488  156  373.0
489  156  372.0
490  156  371.0
491  156  369.0
492  156  368.0
493  157  367.0
494  157  365.0
495  157  363.0
496  157  361.0
497  157  359.0
498  158  355.0
499  158    NaN

[500 rows x 2 columns]

# --------------------------------------------------------